body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 12px;
    color: dimgray;
}
.name-highlight{
    
    color:rgb(233, 57, 119);
    font-size: 150%;
    font-weight: 100px ;
    font-family: 'Poppins', sans-serif;
    
}
.half-width{
    width: 35%;
    float: left;
    font-weight: 700;
    margin-top: 14%;
    margin-left: 18%;
}
.half-width-img{
    float: left;
    width: 40%;  
    margin-top: 6%;
    margin-left: 2%;
}
.half-width-img img{
    width: 80%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no repeat;
    background-size: 100% 100%;
   
}
section{
    height: 600px;
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(45deg,rgb(254, 78, 139),rgb(233, 49, 113));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}
.biography-area{
    background-image: url(images/biography-bg.png);
    background-size: 100% 100%;
}
.half-width-img-dream{
    float: left;
    width: 40%;
    margin-top: 80px;
    margin-left: 80px;
}
.half-width-img-dream img{
    width: 70%;
}
.half-width-biography{
    width: 80%;
    padding-top: 10%;
}
.leatest-work-area{
    background-image: url(images/latest-work-bg.png);
    background-size: 100% 100%;
    padding: 10%;
    padding-top: 5%;
    height: 350px;
}
.work-area-img{
    float: left;
    width: 30%;
    padding: 10px;
    margin-top: 10px ;
}
.work-area-img img{
    width: 100%;
}
.footer-area{
    background-image: url(images/footer-bg.png);
    background-size: 100% 100%;
    padding: 50px;
    padding-top: 50px;
}
.footer-info{
    text-align: center;
    margin-top: 8%;
}
.my-mail{
    background-image: linear-gradient(45deg,rgb(254, 78, 139),rgb(233, 49, 113));
    margin: auto;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    height: 100px;
    width: 500px;
    box-shadow: 10px 10px 20px gray;

    
}
